{% extends 'base.html' %}

{% block title %}
    Accounts - Receipt Man
{% endblock title %}

{% block content %}
    <main>
        <h1>My Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for list in account_list %}
                    <tr>
                        <td>{{ list.name }}</td>
                        <td>{{ list.number }}</td>
                        <td>{{ list.receipts.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
