{% extends 'base.html' %}

{% block title %}
    Expenses - Receipt Man
{% endblock title %}

{% block content %}
    <main>
        <h1>My Expenses</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for list in expense_list %}
                    <tr>
                        <td>{{ list.name }}</td>
                        <td>{{ list.receipts.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
